@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <section class="start">
            <a class="btn btn-default big" href="/organisation/">Verenigingen</a>
            <p><a class="btn btn-default" href="/organisation/new">Nieuwe verenging</a></p>
        </section>



    </div>
    <div class="col-md-4">
        <section class="start">
             <a class="btn btn-default big" href="/register/">Kassa's</a>
        </section>
    </div>
    <div class="col-md-4">
        <section class="start">
            <a class="btn btn-default big" href="/log/">Logs</a>
        </section>
    </div>
</div>